<h1>Lista de feriados</h1>
<br>
<%= form_tag holidays_path, :method => :get, :class => "well form-inline"  do -%>
  <label>Nome</label>
  <%= text_field_tag :by_name, params[:by_name] %>
  <label>Período</label>
  <%= text_field_tag :by_start_date, params[:by_start_date], :class => "datepicker" %>
  <%= text_field_tag :by_end_date, params[:by_end_date], :class => "datepicker" %>
  <button type="submit" class="btn"><i class="icon-search"></i></button>
<% end -%>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td><%= holiday.name %></td>
    <td><%= holiday.date.strftime('%d/%m/%Y') %></td>
    <td><%= link_to raw("<i class='icon-folder-open'></i>"), holiday, :class => "btn btn-mini", :title => "Mostar" %></td>
    <td><%= link_to raw("<i class='icon-pencil'></i>"), edit_holiday_path(holiday), :class => "btn btn-mini", :title => "Editar" %></td>
    <td><%= link_to raw("<i class='icon-remove-sign'></i>"), holiday, confirm: 'Tem certeza?', method: :delete, :class => "btn btn-mini", :title => "Excluir" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to raw("<i class='icon-file'></i>Adicionar"), new_holiday_path, :class => "btn", :title => "Adicionar" %>
