<script>
	function fingerprint(fg) {
		$('#employee_fingerprint').val(fg);
		return false;
	}

	function load_others_collections() {
		var id = $('#employee_enterprise_id :selected').val();
		$.getJSON("/employees/get_departments?enterprise_id="+id, id, function(j) {
			var options = '<option value=""></option>';
			$.each(j, function(i, item) {
				options += '<option value="' + item.id + '">' + item.name + '</option>';
			});
			$("#employee_department_id").html(options);
		});
		$.getJSON("/employees/get_office_hours?enterprise_id="+id, id, function(j) {
			var options = '<option value=""></option>';
			$.each(j, function(i, item) {
				options += '<option value="' + item.id + '">' + item.name + '</option>';
			});
			$("#employee_office_hour_id").html(options);
		});
		return false;
	}

	$(function() {

		$("#employee_cpf").mask("999.999.999-99");
		$("#employee_phone").mask("(99) 9999-9999");
		$("#employee_cel_phone").mask("(99) 9999-9999");
		$("#employee_address_zip_code").mask("99.999-999");
	}); 
</script>

<%= simple_form_for(@employee) do |f| %>
<%= f.error_notification %>
<%= f.input :fingerprint, :as => :hidden %>
<div class="form-inputs">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Dados gerais</a>
		</li>
		<li>
			<a href="#tab2" data-toggle="tab">Documentos</a>
		</li>
		<li>
			<a href="#tab3" data-toggle="tab">Endereço</a>
		</li>
		<li>
			<a href="#tab4" data-toggle="tab">Digital</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<div class="row">
				<div class="span2">
					<%= f.input :registry, :input_html => { :class => 'span2' }%>
				</div>
				<div class="span6">
					<%= f.input :name, :input_html => { :class => 'span6' }%>
				</div>
				<div class="span4">
					<%= f.association :enterprise, :label_method => :name, :input_html => { :class => 'span4', :onChange => "load_others_collections()" }%>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div id="combo_office_hour">
						<%= f.association :office_hour, :collection => @office_hours, :label_method => :name, :input_html => { :class => 'span4' }%>
					</div>
				</div>
				<div class="span4">
					<div id="combo_department">
						<%= f.association :department, :collection => @departments, :label_method => :name, :input_html => { :class => 'span4' }%>
					</div>
				</div>
				<div class="span4">
					<%= f.association :role, :label_method => :description, :input_html => { :class => 'span4' }%>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<%= f.input :date_of_admission, :as => :string, :input_html => { :class => 'span2 datepicker' }%>
				</div>
				<div class="span2">
					<%= f.input :sex, :collection => ['F', 'M'], :input_html => { :class => 'span2' }%>
				</div>
				<div class="span2">
					<%= f.input :password, :input_html => { :class => 'span2' }%>
				</div>
				<div class="span2">
					<%= f.input :date_of_birth, :as => :string, :input_html => { :class => 'span2 datepicker' }%>
				</div>
				<div class="span2">
					<%= f.input :status, :collection => Status::STATUS_LIST, :input_html => { :class => 'span2' }%>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<%= f.input :email, :input_html => { :class => 'span6' }%>
				</div>
				<div class="span3">
					<%= f.input :phone, :input_html => { :class => 'span3' }%>
				</div>
				<div class="span3">
					<%= f.input :cel_phone, :input_html => { :class => 'span3' }%>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<%= f.input :obs, :input_html => { :class => 'span12' }%>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab2">
			<%= f.input :cpf %>
			<div class="row">
				<div class="span4">
					<%= f.input :rg_number, :input_html => { :class => 'span4' }%>
				</div>
				<div class="span4">
					<%= f.input :rg_issue_date, :as => :string, :input_html => { :class => 'span4 datepicker' }%>
				</div>
				<div class="span4">
					<%= f.input :rg_issuing, :input_html => { :class => 'span4' }%>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<%= f.input :nit_pis_pasep, :input_html => { :class => 'span4' }%>
				</div>
				<div class="span4">
					<%= f.input :ctps_number, :input_html => { :class => 'span4' }%>
				</div>
				<div class="span2">
					<%= f.input :cpts_series, :input_html => { :class => 'span2' }%>
				</div>
				<div class="span2">
					<%= f.input :cpts_uf, :input_html => { :class => 'span2' }%>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab3">
			<div class="row">
				<div class="span6">
					<%= f.input :address, :input_html => { :class => 'span6' } %>
				</div>
				<div class="span2">
					<%= f.input :address_number, :input_html => { :class => 'span2' } %>
				</div>
				<div class="span4">
					<%= f.input :address_complement, :input_html => { :class => 'span4' } %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<%= f.input :address_neighborhood, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span2">
					<%= f.input :address_zip_code, :input_html => { :class => 'span2' } %>
				</div>
				<div class="span4">
					<%= f.input :address_city, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span2">
					<%= f.input :adress_state, :input_html => { :class => 'span2' } %>
				</div>
			</div>
		</div>
        <div class="tab-pane" id="tab4">
			<% if @employee.new_record? %>
			<applet code="br/gov/ce/ipmfor/sgp/FormMain.class" archive="/sgp-digitalpersona-applet-enrollment-new.jar" width="400" height="450">Seu browser não suporta applets
	        </applet>
	        <% else %>
	        <applet code="br/gov/ce/ipmfor/sgp/FormMain.class" archive="/sgp-digitalpersona-applet-enrollment-edit.jar" width="400" height="450">	Seu browser não suporta applets
	        </applet>
	        <% end %>
		</div>
	</div>
</div>

<div class="form-actions">
	<%= f.button :submit, "Salvar" %>
</div>
<% end %>
