<h1>Lista de colaboradores</h1>

<%= form_tag employees_path, :method => :get, :class => "well form-inline"  do -%>
  <label>Nome</label>
  <%= text_field_tag :by_name, params[:by_name] %>
  <button type="submit" class="btn"><i class="icon-search"></i></button>
<% end -%>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th>Matrícula</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.registry %></td>
    <td><%= link_to raw("<i class='icon-folder-open'></i>"), employee, :class => "btn btn-mini", :title => "Mostar" %></td>
    <td><%= link_to raw("<i class='icon-pencil'></i>"), edit_employee_path(employee), :class => "btn btn-mini", :title => "Editar" %></td>
    <td><%= link_to raw("<i class='icon-remove-sign'></i>"), employee, confirm: 'Tem certeza?', method: :delete, :class => "btn btn-mini", :title => "Excluir" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to raw("<i class='icon-file'></i>Adicionar"), new_employee_path, :class => "btn", :title => "Adicionar" %>
