<script>
	$(function() {

		$("#enterprise_cnpj").mask("99.999.999/9999-99");
		$("#enterprise_phone").mask("(99) 9999-9999");
		$("#enterprise_address_zip_code").mask("99.999-999");
	}); 
</script>
<%= simple_form_for(@enterprise) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#home" data-toggle="tab">Dados gerais</a>
		</li>
		<li>
			<a href="#profile" data-toggle="tab">Endereço</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<%= f.input :cnpj, :input_html => { :class => 'span2' } %>
			<div class="row">
				<div class="span4">
					<%= f.input :name, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span6">
					<%= f.input :corporate_name, :input_html => { :class => 'span6' } %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<%= f.input :email, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span2">
					<%= f.input :phone, :input_html => { :class => 'span2' } %>
				</div>
			</div>

		</div>
		<div class="tab-pane" id="profile">
			<div class="row">
				<div class="span6">
					<%= f.input :address, :input_html => { :class => 'span6' } %>
				</div>
				<div class="span2">
					<%= f.input :address_number, :input_html => { :class => 'span2' } %>
				</div>
				<div class="span4">
					<%= f.input :address_complement, :input_html => { :class => 'span4' } %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<%= f.input :address_neighborhood, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span2">
					<%= f.input :address_zip_code, :input_html => { :class => 'span2' } %>
				</div>
				<div class="span4">
					<%= f.input :address_city, :input_html => { :class => 'span4' } %>
				</div>
				<div class="span2">
					<%= f.input :adress_state, :input_html => { :class => 'span2' } %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="form-actions">
	<%= f.button :submit, "Salvar" %>
</div>
<% end %>
