<script>
	function load_others_collections() {
		var id = $('#by_enterprise :selected').val();
		$.getJSON("/employees/get_departments?enterprise_id=" + id, id, function(j) {
			var options = '<option value=""></option>';
			$.each(j, function(i, item) {
				options += '<option value="' + item.id + '">' + item.name + '</option>';
			});
			$("#by_department").html(options);
		});
		return false;
	}
</script>
<%= form_tag ficha_ponto_reports_path, :method => :get, :class => "well"  do -%>

<label>Empresa</label>
<%= select_tag :by_enterprise, options_from_collection_for_select(Enterprise.order("name").all, "id", "name", params[:by_enterprise]), :include_blank => true, :onChange => "load_others_collections()"   %>

<label>Departamento</label>
<%= select_tag :by_department,[]  %>

<label>Data inicial</label>
<%= text_field_tag :date_start, '', :class => "datepicker" %>

<label>Data final</label>
<%= text_field_tag :date_end, '', :class => "datepicker" %>

<button type="submit" class="btn">
	<i class="icon-search"></i>
</button>

<% end -%>