<!DOCTYPE html>
<html>
<head>
  <title>Ponto</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.maskedinput" %>
  <%= csrf_meta_tags %>
  <style>
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  </style>
</head>
<body>
  <% if signed_in? -%>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Sistema de ponto", root_path, :class => "brand"%>
        <ul class="nav">
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
              Cadastros
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%=link_to "Cargos", roles_path%></li>
              <li><%=link_to "Departamentos", departments_path%></li>
              <li><%=link_to "Feriados", holidays_path%></li>
              <li><%=link_to "Horário de trabalho", office_hours_path%></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">       
          <li><%= link_to current_user.username, '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sair", sign_out_path, :method => :delete %></li>          
        </ul>
      </div>
    </div>
  </div>
  <% end -%>
  <% if notice %>
  <div class="alert alert-success fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= notice %></p>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>